

<% if current_user # 有登入才可以按讚 %>
  <% if post.find_collection(current_user) %>
  <label class="label label-success"> 已收藏 </label>

    <%= link_to "取消收藏", uncollect_post_path(post), :method => :post, :remote => true, :class => "btn btn-primary" %>
  <% else %>
   <label class="label label-warning"> 未收藏 </label>
    <%= link_to "❤", collect_post_path(post), :method => :post, :remote => true, :class => "btn btn-primary" %>
  <% end %>
<% end %>
